/* General Styles */
body {
    background-color: black;
    color: lightgrey;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}

/* Header and Footer */
header, footer {
    padding: 20px;
    background-color: black;
    color: grey;
    border: 1px solid lightgrey;
}

/* Navigation */
nav {
    margin: 20px auto;
}

nav a {
    margin: 0 10px;
    color: white;
    text-decoration: none;
}

nav a:hover {
    color: green;
}

/* Main Content */
.container {
    margin: 10px auto;
    padding: 20px;
    width: 80%;
    border: 1px solid lightgrey;
    background-color: black;
}

.description, .animation, .controls {
    margin-bottom: 10px;
}

/* Responsive Design */
@media (max-width: 768px) {
    .container {
        width: 95%;
    }
}
